{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}

    {% block script %}
        {{ parent() }}
    {% endblock %}

    </body>
{% endblock %}